@tailwind base;
@tailwind components;
@tailwind utilities;

/* Définit les variables CSS pour les couleurs */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Media query pour le thème sombre */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Styles globaux du corps */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  /* Dégradé de couleur en arrière-plan */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Utilitaires Tailwind CSS */
@layer utilities {
  /* Classe text-balance pour le texte équilibré */
  .text-balance {
    text-wrap: balance;
  }
}

/* Styles spécifiques pour la section principale */
main {
  flex: 1;
  background: url('/public/img/Plage-de-sable-fin-plongee-et-danse-nos-conseils-pour-visiter-la-Polynesie.jpg');
  background-color: #29B6F6;
  padding: 2em;
}

/* Styles pour l'en-tête */
header {
  background-color: #333;
  color: white;
  padding: 15px 0;
  text-align: center;
}

/* Styles pour la navigation */
nav {
  background-color: #17202A;
  padding: 1em 0;
  display: flex;
  justify-content: flex-end;
}

/* Styles pour les liens de navigation */
nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

/* Styles pour le conteneur principal */
.container {
  padding: 2em;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Styles pour les titres h1 et h2 */
h1, h2 {
  color: #17202A;
}

/* Styles pour les formulaires */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

/* Styles pour les champs de formulaire */
input[type="text"], input[type="email"], input[type="date"], input[type="number"], select, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles pour les boutons */
button, input[type="submit"] {
  margin-top: 1em;
  padding: 10px;
  background-color: #3498DB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styles pour les boutons au survol */
button:hover, input[type="submit"]:hover {
  background-color: #555;
}

/* Styles pour le pied de page */
footer {
  background-color: #17202A;
  color: white;
  text-align: center;
  padding: 1em 0;
}

/* Styles pour les liens dans le pied de page */
footer a {
  color: white;
  text-decoration: none;
}

/* Styles pour le logo dans la navigation */
.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

/* Styles pour la partie en gras du logo */
.logo span {
  font-weight: bold;
  color: #29B6F6;
}

/* Styles pour l'alignement du logo à gauche dans la navigation */
nav .logo {
  margin-right: auto;
}

/* Styles au survol des liens de navigation */
.nav a:hover {
  background-color: #cf1111;
}

/* Styles pour l'animation du titre h1 dans l'en-tête */
.header h1 {
  animation: blink 15s infinite;
  color: #fff;
}

/* Styles pour l'élément d'en-tête */
.header {
  text-align: center;
  margin-top: 0px;
}

/* Animation clignotante */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* Styles pour les classes spécifiques à chaque service */
.hotel, .vol, .voiture, .contact, .voyage {
  text-align: center;
  font-size: 30px;
  color: #000000;
}

/* Styles pour le conteneur principal avec un dégradé de couleur de fond */
.container {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

/* Styles pour la section principale avec un fond bleu */
.main {
  background: #29B6F6;
}

/* Styles pour le corps avec un dégradé de couleur de fond */
body {
  background-image: linear-gradient(to right top, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
}

/* Media queries pour rendre le site responsive */
@media (max-width: 768px) {
  .container {
    padding: 1em;
  }

  main {
    padding: 1em;
  }

}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
  }

}
